credentials.json
newsApiOrgAPIKey.txt
src/token.json
getDateTime.pyc
getEvents.pyc
getGreeting.pyc
getWeather.pyc
getOffice365Emails.pyc
getNews.pyc
getGmailEmails.pyc
office365EmailAddress.txt
office365EmailPassword.txt
imaplib.pyc
outlook.pyc
processEvent.pyc
processGmailMessage.pyc
conf/form_of_address.txt
woeid.txt
cityName.txt
newsApiOrgSources.txt
briefing.pyc
hoursToWakeAt.txt
minsToWakeAt.txt
.idea/inspectionProfiles/profiles_settings.xml
.idea/Python-morning-wakeup.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/tom.xml
src/__pycache__/briefing.cpython-36.pyc
src/__pycache__/getEvents.cpython-36.pyc
src/__pycache__/getGmailEmails.cpython-36.pyc
src/__pycache__/processGmailMessage.cpython-36.pyc
.idea/.gitignore
conf/owm_api_key.txt
conf/city_id.txt
src/__pycache__/get_date_time.cpython-36.pyc
src/__pycache__/get_events.cpython-36.pyc
src/__pycache__/get_gmail_emails.cpython-36.pyc
src/__pycache__/get_greeting.cpython-36.pyc
src/__pycache__/get_news.cpython-36.pyc
src/__pycache__/get_office_365_emails.cpython-36.pyc
src/__pycache__/get_weather.cpython-36.pyc
src/__pycache__/process_event.cpython-36.pyc
src/__pycache__/process_gmail_message.cpython-36.pyc
src/o365_token.txt
conf/office_365_client_id.txt
conf/office_365_client_secret.txt
src/__pycache__/wakeup.cpython-36.pyc
conf/city_name.txt
conf/hours_to_wake_at.txt
conf/mins_to_wake_at.txt
conf/news_api_org_api_key.txt
conf/news_api_org_sources.txt
src/env