credentials.json
newsApiOrgAPIKey.txt
token.json
getDateTime.pyc
getEvents.pyc
getGreeting.pyc
getWeather.pyc
getOffice365Emails.pyc
getNews.pyc
getGmailEmails.pyc
office365EmailAddress.txt
office365EmailPassword.txt
imaplib.pyc
outlook.pyc
processEvent.pyc
processGmailMessage.pyc
formOfAddress.txt
woeid.txt
cityName.txt
newsApiOrgSources.txt
